.carousel-item{
  text-align: center;
}
#portfolio{
  padding-bottom: 3em;
}
.header-logo-text{
  font-family: montserrat-bold, sans-serif;
  font-size: 1.5em;
  color: white;
}

/*About Me Styling*/
.intro-contact{
  margin: 2em;
}

/*Footer Styling*/
.footer-social-list{
  list-style-type:none;
  margin: 0;
}
.footer-social-list li{
  display:inline-block;
}
.footer-social-list li a {
    color: #FFFFFF;
}
.footer-social-list li a:hover, 
.footer-social-list li a:focus {
    color: rgba(255, 255, 255, 0.15);
}
a.email-text-link{
  color: #FFFFFF!important
}
